<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../../../favicon.ico">
    <title>Клиент - новый заказ</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <link type="text/css" th:href="@{/../../../static/css/index.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/../../../static/css/neworder.css}" rel="stylesheet">
</head>
<body><nav aria-label="Page navigation example" style="border: 1px dashed rgb(66, 133, 244);">	  	</nav>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/admin/orders/ordersinprogress}">Заказы</a><a class="navbar-brand" th:href="@{/admin/clients/allclients}">Клиенты</a><a class="navbar-brand" href="#">Пользователи (только для администратора)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">

                </li>
                <li class="nav-item">

                </li>
                <li class="nav-item">

                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <!--                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
                <a th:href="@{/static}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход</a>
            </form>
        </div>
    </nav>
</header>

<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs>
        <style type="text/css"></style>
    </defs>
    <text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
</svg>
<div class="btn-group" role="group" aria-label="Basic example" style="">
    <a th:href="@{/admin/orders/allorders}" class="btn btn-secondary">Все</a>
    <a th:href="@{/admin/orders/ordersinprogress}" class="btn btn-secondary">В работе</a>
    <a th:href="@{/admin/orders/closedorders}" class="btn btn-secondary">Завершенные</a>
    <a th:href="@{/admin/orders/deletedorders}" class="btn btn-secondary">Удаленные</a>
</div>
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img th:src="@{/../../../static/img/bike-icon.png}" alt=""/>
            <h3>Форма заполнения заказа для клиента:</h3>
            <br>
            <h3 th:text="${order.client.name}"></h3>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Заполняется менеджером</h3>
                    <form class="row register-form" th:action="@{/admin/orders/saveorder}" th:object="${order}"
                          method="post">
                        <div class="col-md-6">
                            <div class="form-group" ></div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" value="" />
                            </div>
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="male" checked>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" value="female">
                                        <span>Female </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group" th:field="*{bike}">
                                    <select class="form-control" th:each="clientBike:${clientBikesList}">
                                        <option class="hidden"  selected disabled>Выберите велосипед</option>
                                        <option th:text="${clientBike.toString()}"></option>
                                    </select>
                            </div>
                            <div class="form-group" th:field="*{works}">
                                <select class="form-control" th:each="clientBike:${clientBikesList}">
                                    <option class="hidden"  selected disabled>Выберите велосипед</option>
                                    <option th:text="${clientBike.toString()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister"  value="Register"/>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../../js/vendor/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/holderjs@2.9.4/holder.js"></script>

</body>
</html>


